@import url("https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Quicksand:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Kode+Mono:wght@400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 11px;
  background-color: #343b3c;
}

::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border: 1px solid #a3a3a3;
  border-radius: 8px;
}

@layer components {
  .body-XXlarge {
    @apply text-3xl md:text-5xl lg:text-7xl;
  }

  .body-Xlarge {
    @apply text-xl md:text-4xl lg:text-6xl;
  }

  .body-large {
    @apply text-base md:text-2xl lg:text-3xl;
  }

  .body-big {
    @apply text-xl md:text-xl lg:text-2xl;
  }

  .body-nav {
    @apply text-xs md:text-lg lg:text-xl;
  }

  .logo {
    @apply text-xl md:text-2xl lg:text-4xl;
  }

  .body-medium {
    @apply text-xs md:text-sm lg:text-base;
  }

  .body-small {
    @apply text-xs md:text-sm lg:text-sm;
  }

  .body-Xsmall {
    @apply text-xs md:text-base lg:text-xs;
  }

  .body-link {
    @apply text-links hover:text-linkshover;
  }

  .arrow-right {
    perspective: 1000px;
  }
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
}
.swiper-pagination-bullet-active {
  background: antiquewhite !important;
}
